<section class="content-header">
    <h1>
        {{translation.EVALUACION}}

    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {{translation.HOME}}</a></li>
        <li class="active">{{translation.EVALUACION}}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="container-fluid">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    <uib-tabset>
                        <uib-tab class="active" heading="{{translation.EVALUACION_HITOS}}">
                            <div ng-include="'app/templates/evaluacion/evaluacionHitos.html'"></div>
                        </uib-tab>
                        <uib-tab heading="{{translation.EVALUACION_INDICADORES}}">
                            <div ng-include="'app/templates/evaluacion/evaluacionIndicadores.html'"></div>
                        </uib-tab>
                        <uib-tab heading="{{translation.EVALUACION_ACTIVIDADES}}">
                            <div ng-include="'app/templates/evaluacion/evaluacionActividades.html'"></div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>

</section>
