<div ng-controller="facilitadoresController">

    <h1>Facilitadores</h1>

    <div class="row" style="margin-right:auto; margin-left: auto;">

        <div class="row">
            <button type="button" class="btn btn-primary" ng-model="newFacilitador" ng-hide="newFacilitador" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-click="newRow()">
                Nuevo Facilitador <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>

            </thead>

            <tbody>

                <tr ng-repeat="facilitador in _facilitadores">
                    <td>{{facilitador.idFacilitador}}</td>
                    <td>{{facilitador.nombre}}</td>
                    <td>{{facilitador.email}}</td>
                    <td>{{facilitador.telefono}}</td>
                    <td>{{facilitador.direccion}}</td>
                    <td>
                        <a class="actions" ng-click="editFacilitador(facilitador.idFacilitador)"><span class="icon-edit" style="font-size: 23px; vertical-align:middle; margin-left: 10px" title="Editar"></span></a>
                        <!--a class="actions" ng-click="deleteFacilitador(facilitador.idFacilitador)"><span class="icon-delete" style="font-size: 30px; vertical-align:middle; margin-left: 17px" title="Eliminar"></span></a-->
                    </td>

                </tr>
               <tr  ng-if="newFacilitador">
                    <td>{{nextId}}</td>
                    <td><input type="text" ng-model="inputFacilitador.txtNombre" value="input.txtNombre"/></td>
                    <td><input type="text" ng-model="inputFacilitador.txtEmail" value="input.txtEmail"/></td>
                    <td><input type="text" onkeypress="return validateNumber(event);" ng-model="inputFacilitador.txtTelefono" value="input.txtTelefono"/></td>
                    <td><input type="text" ng-model="inputFacilitador.txtDireccion" value="input.txtDireccion"/></td>    
                
                </tr>

            </tbody>

        </table>
        
        <div class="row">
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000" ng-repeat="alert in alerts" ng-if="showAlert">{{alert.msg}}</div>

        </div>

        <div class="row" ng-if="newFacilitador">
            <button type="button" class="btn btn-primary" ng-click="addFacilitador()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>

            <button type="button" class="btn btn-primary" ng-click="resetTexts()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

        </div>

    </div>


</div>
    </div>
