<div class="modal-header">
    <h3 class="modal-title">{{translation.IMPORTAR_MOVIMIENTOS}}</h3>

</div>

<div class="modal-body">

    <form role="form">

        <div class="form-group">
            <label>{{translation.ARCHIVO_CONTIENE_ENCABEZADOS}}
                <input type="checkbox" ng-model="contieneEncabezados">
            </label>
            <input type="file" id="logCsvFile" style="width: 100%; margin-top: 8px;" on-read-file="getContent($fileContent)">
            <p class="help-block">{{translation.SELECCIONAR_ARCHIVO_MOVIMIENTO}}</p>

        </div>

    </form>

</div>

<div class="modal-footer">

    <alert ng-if="showAlert" type="{{alert.type}}">{{alert.msg}}</alert>

    <button class="btn btn-primary" ng-click="ok()">{{translation.ACEPTAR}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{translation.CANCELAR}}</button>

</div>