<table width="100%">
    <tr>
        <td align="right">
            <div class="col-md-12" ng-controller="languageCtrl">
                <a href="javascript:" data-ng-click="changeLanguage('en')"><img src="../../../Images/en-icon.png" /> English  </a>
                <a href="javascript:" data-ng-click="changeLanguage('es')"><img src="../../../Images/es-icon.png" /> Español  </a>
                <a href="javascript:" data-ng-click="changeLanguage('fr')"><img src="../../../Images/fr-icon.png" /> Français  </a>
            </div>
        </td>
    </tr>
</table>
