<script type="text/ng-template" id="accountabilityContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ translation.TITULO_ACCOUNTABILITY }}</h3>
    </div>
    <div class="modal-body" ng-include="'app/templates/indicadores/accountabilityView.html'"></div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ translation.CERRAR }}</button>
    </div>
</script>
<div class="row" style="margin-right:auto; margin-left: auto;">
    <form name="indicatorsHistoryForm">
        <div class="well well-lg">
            <p><b>{{translation.INDICADOR}}: </b>{{indicador.descripcion}}</p>
            <p><b>{{translation.BASE}}: </b>{{indicador.base}}</p>
            <p><b>{{translation.META}}: </b>{{indicador.meta}}</p>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{translation.PERIODO}}</th>
                    <th>{{translation.LOGRO}}</th>
                    <th>{{translation.VERIFICADORES}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="muestra in muestras">
                    <td>{{muestra.periodo}}</td>
                    <td>{{muestra.logro}}</td>
                    <td>
                        <div ng-repeat="verificator in muestra.verificators">
                            <a ng-href="{{verificator.url}}">{{verificator.fileName}}</a>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-show="muestra.canEdit" ng-click="editSelected();" uib-tooltip="{{translation.EDITAR}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-show="muestra.canDelete" ng-click="deleteSelected()" uib-tooltip="{{translation.ELIMINAR}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-hide="muestra.canEdit" ng-click="editSelected();" uib-tooltip="{{translation.VER_SOLO_LECTURA}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="row">
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000" ng-repeat="alert in alerts" ng-if="showAlert">{{alert.msg}}</div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-primary" ng-click="addNew()" uib-tooltip="{{translation.ELIMINAR}}">
                {{translation.NUEVA}}
            </button>
        </div>

    </form>
</div>