<div class="login-box" ng-controller="loginCtrl">
    <div style="color: white;" class="login-logo">
        <a target="_blank" href="http://www.adlumen.org"><b>ADLUMEN</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Escriba el email de su cuenta para enviarle un enlace de recuperación de contraseña</p>
        <form>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="{{translation.CORREO}}" required autofocus ng-model="recoveryEmail">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="sendRecovery()">Enviar</button>
                </div>
            </div>
        </form>
        <br>
        <div ng-if="recoveryEmailSent">El enlace ha sido enviado. Por favor, revise su correo.</div>
        <br>
    </div>
    <div ng-if="errorEmail" class="alert alert-danger">
        El email es incorrecto.
    </div>
</div>