<div class="login-box" ng-controller="loginCtrl">
    <div style="color: white;" class="login-logo">
        <a target="_blank" href="http://www.adlumen.org"><b>ADLUMEN</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">La contraseña debe tener mínimo:<br />6 caracteres, una mayúscula, una minúscula, un caracter no alfanumérico.</p>
        <form>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Contraseña Nueva" required autofocus ng-model="pass1">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Repetir Contraseña" ng-model="pass2" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="resetPassword()">Cambiar</button>
                </div>
            </div>
        </form>
        <br>
        <div ng-if="resetSuccess">La contraseña ha sido actualizada.<br />Haga <a href="/#!/login">click aqui</a> para iniciar sesión.</div>
        <br>
    </div>
    <div ng-if="errorPass" class="alert alert-danger">
        La contraseña no es válida.
    </div>
    <div ng-if="errorLink" class="alert alert-danger">
        El enlace de recuperación no es válido.
    </div>
</div>