<!--<script type="text/ng-template" id="newList.html">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="close()"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{headerTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">{{translation.DESCRIPCION}}</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="list.descripcion" />
                </div>
            </div>
        </div>
        <div class="alert">
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000" ng-repeat="alert in alerts" ng-if="showAlert">{{alert.msg}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-inline">
            <button class="btn btn-success" ng-click="save(bdUser.idLocal)">{{ translation.GUARDAR }}</button>
            <button class="btn btn-danger" ng-click="close()">{{ translation.CERRAR }}</button>
        </div>
        
    </div>
</script>-->

<script type="text/ng-template" id="newTenant.html">
    <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="close()"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{headerTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="input-tenantDomain">{{translation.DOMINIO}}</label>
                <div class="col-sm-10">
                    <input id="input-tenantDomain" class="form-control" ng-model="tenant.name" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="input-tenantDescription">{{translation.NOMBRE}}</label>
                <div class="col-sm-10">
                    <input id="input-tenantDisplayName" class="form-control" ng-model="tenant.displayName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="input-tenantDescription">{{translation.CORREO}}</label>
                <div class="col-sm-10">
                    <input id="input-tenantEmail" class="form-control" ng-model="tenant.email" />
                </div>
            </div>
        </div>
        <div class="alert">
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="8000" ng-repeat="alert in alerts" ng-if="showAlert">{{alert.msg}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="save(bdUser.idLocal)">{{ translation.GUARDAR }}</button>
        <button class="btn btn-danger" ng-click="close()">{{ translation.CERRAR }}</button>
    </div>
</script>

<section class="content-header">
    <h1>
        {{translation.TENANTS}}

    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {{translation.HOME}}</a></li>
        <li class="active">{{translation.TENANTS}}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="container-fluid">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="form-horizontal">
                        <!--<div class="form-group">
                            <label class="control-label col-sm-1" for="select-taskProject">{{translation.PROYECTO}}:</label>
                            <div class="col-sm-6">
                                <select id="select-taskproject" class="form-control" ng-model="misProyectos" ng-options="project as project.nombre for project in projects track by project.idProyecto "></select>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <!--<label class="control-label col-sm-1" for="select-taskLists">{{translation.LISTAS}}</label>-->
                            <div class="col-sm-10 form-inline">
                                <!--<select id="select-taskLists" class="form-control" ng-model="misListas" ng-options="lista as lista.descripcion for lista in listas | filter:{idProyecto:misProyectos.idProyecto} track by lista.id " ng-disabled="!misProyectos"></select> 
                                <button type="submit" class="btn btn-primary" ng-click="openModaList()" uib-tooltip="{{translation.NUEVA_LISTA}}" ng-disabled="!misProyectos">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button type="submit" class="btn btn-primary" ng-click="openModaList(misListas)" uib-tooltip="{{translation.EDITAR}} {{translation.LISTA}}" ng-disabled="!misListas">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>-->
                                <button class="btn btn-primary" uib-tooltip="{{translation.NEW_TENANT}}" ng-click="openModalTenant()">
                                    <span class="glyphicon glyphicon-plus"></span> {{translation.NEW_TENANT}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{translation.TENANTS}}</h3>
                        <!--<div class="box-tools">
                            <div style="width: 150px;" class="input-group">
                                <input type="text" placeholder="{{translation.FILTRAR}}" class="form-control input-sm pull-right" ng-model="nombreTarea" name="table_search">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{translation.DOMINIO}}</th>
                                    <th>{{translation.NOMBRE}}</th>
                                    <th class="capitalize">{{translation.CORREO}}</th>
                                    <th colspan="2">{{translation.ACCIONES}}</th>
                                </tr>
                            </thead>
                            <tbody ng-if="tenants && tenants.length !== 0">
                                <tr ng-repeat="tenant in tenants">
                                    <td>{{tenant.name}}</td>
                                    <td>{{tenant.displayName}}</td>
                                    <td>{{tenant.email}}</td>
                                    <td>
                                        <a href="javascript:;" ng-click="openModalTenant(tenant)"><span class="glyphicon glyphicon-edit"></span></a>
                                    </td>
                                    <td>
                                        <a href="javascript:;" ng-click="confirmDeleteTenant(tenant)"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--<div class="alert" ng-if="tenants.length === 0">
                            <alert class="text-center" type="warning">{{translation.NO_TAREAS}}</alert>
                        </div>-->
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</section>